@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

$font-family: 'Roboto', sans-serif;

$white-color: #fff;
$white-light: #F8F9FA;
$black-color: #000;
$black-light: #212529;
$red: #FF0008;
$secondary-color: #007bff;

$full: 100%;
$zero-value: 0;
$basic-font-size: 14px;
$medium-font-size: 18px;

$center: center;
$flex: flex;
$column: column;
$absolute: absolute;
$relative: relative;
$none-value: none;
$font-bold: bold;
$font-weight-500: 500;
